/* Reset de estilos básicos */
body, h1, h2, p, form, input, textarea, button {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root{
    --color-primario: #494ba6;
    --color-secundario: #8689ff;    
    --color-alternativo: #494ba6;
    --color-hover: #494ba6;;
    --color-texto:#494ba6;
    --color-fondo:#0e0f22;
}

/* Contenedor principal */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Estilos para el header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-primario); /* Color de fondo del header */
    padding: 20px 0; /* Espaciado superior e inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    height: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between; /* Espacia entre el logo y la lista de navegación */
    align-items: center;
    width: 90%; /* Asegura que el contenido de la navegación no ocupe el ancho completo del header */
    max-width: 1200px; /* Limita el ancho máximo del contenedor de navegación */
}

.logo img {
    max-height: 130px; /* Altura máxima del logo */
    width: auto; /* Mantiene la proporción del logo */
}

/* Estilos para la navegación */
nav {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del nav */
}

/* Estilos para la lista de navegación */
.nav-list {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex; /* Coloca los elementos de la lista en línea */
    gap: 30px; /* Espacio entre los elementos de la lista */
}

/* Estilos para los enlaces de la lista de navegación */
.nav-list li a {
    transform: scale(1.5) !important;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #ffffff; /* Color del texto de los enlaces */
    font-size: 18px; /* Tamaño de fuente */
    transition: color 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto hover para los enlaces */
.nav-list li a:hover {
    border-bottom: 2px solid white;
    transform: scale(1.5) ;
    transition: all 50ms;
}

/* Sección de Banner */
.banner {
    background: linear-gradient(to top, rgb(255, 255, 255), var(--color-alternativo));
    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 41);
    padding: 50px 0;
    margin-bottom: 40px;
    text-align: center;
    height: 500px !important;
    width: 100%;
}

.banner h2 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: bold; /* para asegurar el grosor bold */
    font-size: 70px;
}

.banner p {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.banner-content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content img {
    height: 500px;
    margin-left: 100px;
}

.banner button {
    height: 45px;
    width: 150px;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    border: none !important;
    border-radius: 5px;
    color: var(--color-texto);
}

.banner button a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
}

.banner button a:hover{
    color: white;
}

.banner button:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 300ms;
}

/* Sección de Quiénes Somos */
.quienes-somos {
    display: flex;
    align-items: center;
    height: auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    flex-direction: column;
}

.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
}

.nosotros h2{
    margin-bottom:30px !important;
}

.beneficios {
    width: 100%;
}

.beneficios{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.beneficio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    margin: 10px 10px;
    font-weight: 600;
}

.beneficio i{
    color: white;
    background-color: var(--color-primario);
    border-radius: 100%;
    padding: 10px;
    font-size: 30px;
    margin-right: 10px;
    animation: pulse 2s infinite; /* Aplica la animación de pulso */
}

/* Definición de la animación de pulso */
@keyframes pulse {
    0% {
        transform: scale(1); /* Tamaño inicial */
    }
    50% {
        transform: scale(1.1); /* Tamaño aumentado */
    }
    100% {
        transform: scale(1); /* Tamaño final, vuelve al tamaño original */
    }
}

.quienes-somos h2 {
    margin-bottom: 10px;
}

.quienes-somos p {
    font-size: 18px;
    line-height: 1.6;
}

/* Sección de Proyectos */

#proyectos {
    text-align: center;
    margin-bottom: 30px;
}

.cont-proyectos {
    margin-top: 30px;
    overflow: hidden; /* Oculta los elementos fuera del área visible del contenedor */
    width: 100%;
    position: relative;
}

.proyectos-carousel {
    display: flex;
    gap: 20px; /* Espacio entre proyectos */
    transition: transform 0.5s ease-in-out;
}

.proyecto {
    min-width: 50%;
    max-height: 300px; /* Establece una altura máxima para el contenedor del proyecto */
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
}

.proyecto img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Hace que la imagen cubra todo el área del contenedor sin distorsión */
    display: block; /* Elimina el espacio inferior causado por las imágenes en línea */
}

.overlay {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.proyecto:hover .overlay {
    display: flex; /* Muestra el overlay al pasar el ratón */
}

.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-primario);
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

.btn-prev:hover {
    background-color: var(--color-secundario);
    transition: all 200ms;
}

.btn-next:hover {
    background-color: var(--color-secundario);
    transition: all 200ms;
}


/* Estilos para el div que aparece en hover */
.overlay {
    position: absolute; /* Posiciona el overlay relativo al contenedor */
    bottom: -100%; /* Coloca el div fuera de la vista en la parte inferior */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px; /* Espaciado interno */
    transition: bottom 0.5s ease; /* Transición suave para el movimiento */
    text-decoration: none;
}

/* Efecto hover en el contenedor */
.proyecto:hover .overlay {
    bottom: 0; /* Mueve el overlay hacia arriba cuando se hace hover */
}

.link-proyecto {
    background-color: #494ba6;
    width: 100%;
}

/* Estilos para la sección de contacto */
.contacto {
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 1200px; /* Aumenta el ancho máximo para acomodar texto y formulario */
    margin: 0 auto; /* Centra la sección */
    margin-bottom: 30px;
}

/* Estilos para el título */
.contacto h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #333; /* Color del título */
}

/* Contenedor para el texto y el formulario */
.contacto-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espacio entre el texto y el formulario */
}

/* Estilos para el texto explicativo */
.texto-contacto {
    flex: 1;
    padding-right: 20px; /* Espacio entre el texto y el formulario */
    text-align: left;
    font-size: 20px;
    color: #333; /* Color del texto */
}

.texto-contacto h3{
    font-size: 24px;
}

/* Estilos para el formulario */
.formulario-contacto {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los elementos */
}

/* Estilos para los campos de entrada */
.formulario-contacto input,
.formulario-contacto textarea {
    padding: 10px;
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px;
    color: #333; /* Color del texto */
    background-color: #fff; /* Fondo blanco */
    resize: vertical; /* Permite cambiar el tamaño vertical del textarea */
}

/* Estilos para el botón de enviar */
.formulario-contacto button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-secundario); /* Color del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 16px;
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s ease; /* Transición suave */
}

.formulario-contacto button:hover {
    background-color: var(--color-primario); /* Color más oscuro al hacer hover */
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #25D366; /* Color de WhatsApp */
    color: #fff; /* Color del texto */
    font-size: 16px;
    text-decoration: none; /* Elimina el subrayado */
    transition: background-color 0.3s ease; /* Transición suave */
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Color más oscuro al hacer hover */
}

.whatsapp-button i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}


/* Animación */
.quienes-somos, #banner {
    position: relative;
    overflow: hidden;
}

.quienes-somos h2,
.quienes-somos p,
.banner h2,
.banner p,
.banner button,
.banner img {
    position: relative;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUp 1s ease-out forwards;
}

/* Asegura que la animación del párrafo tenga un retraso */
.quienes-somos p {
    animation-delay: 0.5s;
}

/* Nueva clase que se añade al final de la animación */
.animado {
    opacity: 1;
    transform: translateY(0);
}

/* Efecto hover para los botones */
.banner button:hover {
    background-color: var(--color-alternativo); /* Ejemplo: cambia el color de fondo al hacer hover */
    color: white; /* Cambia el color del texto al hacer hover */
}

/* Keyframes de la animación */
@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#btnWpp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    border: none;
    color: white;
    background-color: #25D366;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 100%;
}

#btnWpp:hover {
    cursor: pointer;
    background-color: #128C7E;
    transition: all 300ms;
}


/* Media Queries para responsive design */
@media (max-width: 1200px) {
    .nav-container {
        width: 100%; /* Ajusta el ancho del contenedor de navegación */
    }

    .banner-content img {
        margin-left: 0; /* Ajusta el margen izquierdo en pantallas más pequeñas */
    }

    .banner button {
        margin-left: 0; /* Ajusta el margen izquierdo en pantallas más pequeñas */
    }
}

@media (max-width: 992px) {
    .nav-list {
        flex-direction: column; /* Cambia la dirección de los elementos de la lista */
        align-items: center; /* Centra los elementos de la lista */
        gap: 15px; /* Reduce el espacio entre los elementos de la lista */
    }

    .nav-list li a {
        font-size: 16px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .quienes-somos {
        flex-direction: column;
    }

    .nosotros,
    .beneficios {
        width: 100%; /* Ajusta el ancho para que ocupe el 100% del contenedor */
    }

    .proyectos {
        margin: 10px; /* Ajusta el margen en pantallas más pequeñas */
    }

    .proyecto {
        width: 100%; /* Ajusta el ancho del proyecto para que ocupe el 100% del contenedor */
        max-width: 100%; /* Elimina el ancho máximo para pantallas pequeñas */
    }
}

@media (max-width: 768px) {
    .banner h2 {
        font-size: 40px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .banner p {
        font-size: 20px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .banner-content img {
        height: auto; /* Permite que la imagen ajuste su altura automáticamente */
        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
    }

    .formulario-contacto input,
    .formulario-contacto textarea {
        font-size: 14px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .contacto {
        padding: 10px; /* Reduce el padding en pantallas más pequeñas */
    }

    #btnWpp {
        height: 40px;
        width: 40px;
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: auto; /* Permite que la altura del banner ajuste automáticamente */
        padding: 30px 0; /* Reduce el padding en pantallas más pequeñas */
    }

    .banner h2 {
        font-size: 30px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .banner p {
        font-size: 18px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .contacto {
        padding: 10px;
        width: 100%; /* Ajusta el ancho del formulario para que ocupe el 100% del contenedor */
    }
}


/*Footer */
.footer {
    background-color: #585858;
    color: #fff;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icon {
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--color-alternativo); /* Cambia el color a tu preferido */
}

.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    background-color: #505050;
    margin-top: 20px;
}


